@using System.Configuration
@model IEnumerable<TCAndOctopusTest.Db.Album>
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>TeamCity and Octopus Deploy Test Web App <small>@ConfigurationManager.AppSettings["Environment"]</small></h1>
</div>


@foreach (var album in Model) {
    <div class="row">
        <div class="col-md-2">@album.Artist.Name</div>
        <div class="col-md-2">@album.Title</div>
    </div>
}